<!-- All this area goes before </body> closing tag -->

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script
  type="text/javascript"
  src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5eb69c1c88baffc0"
></script>

<!-- Pinterest Script, nothing for you to replace here  -->
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=UA-165922964-1"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'UA-165922964-1');
</script>
